# Note: these should defo be separate for the server, game loop (which should be celery), and frontend

export REACT_APP_API_BASE_URL="http://localhost:8000"
export MIDJOURNEY_API_KEY="<your-api-key-here>"
