# MIDJOURNEY_API_KEY=<put-the-real-one-here-to-turn-on-image-generation>
MIDJOURNEY_API_KEY=DEV

REACT_APP_API_BASE_URL=http://localhost

POSTGRES_DB=hloot
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
DATABASE_URL=postgres://postgres:postgres@db:5432/hloot

DJANGO_DEBUG=True
DJANGO_SECRET_KEY=django-insecure
